@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215, 28%, 17%;

    --card: 0 0% 100%;
    --card-foreground: 215, 28%, 17%;

    --popover: 0 0% 100%;
    --popover-foreground: 215, 28%, 17%;

    --primary: 215, 28%, 17%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 215, 28%, 17%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 215, 28%, 17%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 215, 28%, 17%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 215, 28%, 17%;
    --foreground: 0 0% 98%;

    --card: 215, 28%, 17%;
    --card-foreground: 0 0% 98%;

    --popover: 215, 28%, 17%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 215, 28%, 17%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    scroll-behavior: smooth;
  }
}
.group {
  margin-top: 0 !important;
}

.rhap_container {
  @apply shadow-none bg-transparent !important;
}

.rhap_button-clear[aria-label="Rewind"],
.rhap_button-clear[aria-label="Forward"],
.rhap_volume-controls,
.rhap_additional-controls {
  @apply hidden sm:flex !important;
}

.rhap_controls-section {
  @apply flex justify-center !important;
}

.rhap_progress-container,
.rhap_main-controls-button,
.rhap_repeat-button,
.rhap_volume-button {
  @apply text-indigo-400 !important;
}

.rhap_progress-indicator,
.rhap_volume-indicator {
  @apply bg-indigo-400 !important;
}

.rhap_time {
  @apply text-indigo-50 !important;
}
.navItem {
  display: inline-block;
  padding-bottom: 2px;
  background-image: linear-gradient(
    hsl(var(--muted-foreground)),
    hsl(var(--muted-foreground))
  );
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition: background-size 0.3s, background-position 0s 0.3s; /*change after the size immediately*/
}

.navItem:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 2px;
}
